@font-face {
  font-family: "LemonTitle";
  src: url("../assets/fonts/LemonTitle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LemonBody";
  src: url("../assets/fonts/LemonBody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LemonNav";
  src: url("../assets/fonts/LemonNav.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LostNav";
  src: url("../assets/fonts/LostNav.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LostTitle";
  src: url("../assets/fonts/LostTitle.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "LostDescription";
  src: url("../assets/fonts/LostDescription.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LostBody";
  src: url("../assets/fonts/LostBody.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LostHeading";
  src: url("../assets/fonts/LostHeading.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
