@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo2-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo2-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo2-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo2-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
